.topo{
    margin-top: 20px;
}

.cadastro-post{
    color: #F0F1F2;
}

.fundo-novo-post{
    background-color: #64588C!important;
    padding: 32px 16px;
}

.cor-escolha-tema{
    color: #F0F1F2!important;
}