.box1{
    background-color: #64588C;
    height: 120px;
}

.redes-sociais{
    font-size: 60px !important;
    color: white; 
}

.box2{
    background-color: #64588C;
    height: 60px;
}

.textos{
    color: white;
}
